@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login Form</title>
</head>
<body>
    <div>
        <h3>Login Now</h3>

    </div>
</body>
</html>
